.Sidebar {
  text-align: start;
  width: 30vh;
  height: 80vh;
  background: red;
  padding: 20px 20px;
  display: flex;
  margin-left: 10px;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 10px;
}
.About,
.About:hover,
.About:active {
  /* background-color: #bbb; */
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
.main_sidebar {
  display: flex;
}
.active_nav {
  background-color: brown;
}
